/* button tweet trong postshare */
.button-postshare {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  background-color: rgb(29, 161, 242);
  min-width: calc(62.79px);
  min-height: 34px;
  box-shadow: none;
  border: none;
  border-color: rgb(29, 161, 242) rgb(29, 161, 242) rgb(29, 161, 242)
    rgb(29, 161, 242);
  border-radius: 9999px 9999px 9999px 9999px;
  cursor: pointer;
}

/* nội dung post */
.postlist-div {
  position: relative;
  min-height: 35px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  padding-left: 10px;
  text-align: left;
  text-indent: -10px;
}

.postlist-div:hover {
  border: 1px solid #2f4f4f;
}

.postlist-content-div {
  cursor: pointer;
  max-width: 85%;
}

.postlist-content-link {
  color: black;
  margin-top: 8px;
  margin-left: 10px;
}

.postlist-content-link:hover {
  color: black;
}

.postlist-popup-span {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -5px;
  font-size: x-large;
}

.postlist-popup-span:hover {
  color: black;
  font-weight: bold;
}

/* 2 nút edit và delete */
.postlist-action-link {
  display: block;
  color: black;
  margin-bottom: 3px;
}

.postlist-action-link:hover {
  background-color: #3b5998;
  color: white;
}

/* modal trong postshare */
